@model IEnumerable<Repository_Data.Professor>
@{
    ViewBag.Title = "Professor";
}

<p>GetSubjects</p>
<p>
    @Html.ActionLink("Create New", "AddProfessor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RowKey)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>

        @Html.ActionLink("Delete", "DeleteProfessor", new { RowKey = item.RowKey })
        @Html.ActionLink("Edit", "EditProfessor", new { RowKey = item.RowKey })


    
    </td>
</tr>
    }
</table>
@Html.ActionLink("BackToHome", "Index")